Esto es una plantilla de Jinja2 manejada por Ansible y alojada en el servidor {{ ansible_facts['hostname'] }} con la IP {{ ansible_facts['default_ipv4']['address'] }} para el departamento {{ departamento }}.
#Esto es una plantilla de Jinja2 manejada por Ansible y alojada en el servidor {{ ansible_hostname }} con la IP {{ ansible_facts['default_ipv4']['address'] }} para el departamento {{ departamento }}.
